<template>
  <div>
    <TopBar v-model="drawer" />
    <SideBar v-model="drawer" />
    <v-content class="">
      <slot />
    </v-content>
    <Footer />
  </div>
</template>

<script>
  import TopBar from "./TopBar";
  import SideBar from "./SideBar";
  import Footer from "../Footer";

  export default {
  name: "AppFrame",
  components: { Footer, SideBar, TopBar },
  data: () => ({
    drawer: null
  }),
  methods: {},
};
</script>

<style scoped></style>
