<template>
  <v-navigation-drawer
    :value="value"
    @input="$emit('input', $event)"
    clipped
    app
  >
    <v-list>
      <v-list-tile v-for="item in items" :key="item.title" :to="item.link">
        <v-list-tile-action>
          <v-icon></v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title class="text--primary">
            {{ item.title }}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile @click="signout">
        <v-list-tile-action>
          <v-icon></v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title class="text--primary">
            Logout
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import firebase from "firebase";
export default {
  name: "Sidebar",
  methods: {
    signout() {
      firebase
        .auth()
        .signOut()
        .then(() => console.log("Signout"))
        .catch((err) => console.error(err))
    }
  },
  watch: {},
  props: ["value"],
  data() {
    return {
      items: [{ title: "Problem", link: "/problem" }]
    };
  }
};
</script>

<style scoped></style>
