<template>
  <v-toolbar color="primary" clipped-left app>
    <v-toolbar-side-icon
      class="white--text"
      v-bind:value="value"
      @click.end="$emit('input', !value)"
    />
    <v-toolbar-title class="mr-5 align-center">
      <span class="title white--text">GraderBot</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-layout row align-center style="max-width: 650px"></v-layout>
  </v-toolbar>
</template>

<script>
export default {
  name: "TopBar",
  props: ["value"],
  methods: {}
};
</script>

<style scoped>
</style>
