<template>
  <v-container bg fill-height grid-list-md text-xs-center>
    <v-layout row wrap align-center>
      <v-flex>
        Page Not Found.
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "PageNotFound"
  }
</script>

<style scoped>

</style>
