<template>
  <!--  <v-form>-->
  <!--    <v-container grid-list-sm>-->
  <!--      <v-container ma-0 pa-0 my-2 mx-5>-->
  <!--          <v-subheader class="display-0">Problem Details</v-subheader>-->
  <!--        <v-card>-->
  <!--          <v-layout row wrap>-->
  <!--            <v-container>-->
  <!--              <v-flex xs12>-->
  <!--                <v-text-field-->
  <!--                  v-model="name"-->
  <!--                  counter-->
  <!--                  maxlength="100"-->
  <!--                  box-->
  <!--                  label="Task Name"-->
  <!--                ></v-text-field>-->
  <!--              </v-flex>-->
  <!--              <v-flex xs12>-->
  <!--                  <v-text-field-->
  <!--                    v-model="submissionName"-->
  <!--                    counter-->
  <!--                    maxlength="100"-->
  <!--                    box-->
  <!--                    label="Submission Name"-->
  <!--                  ></v-text-field>-->
  <!--              </v-flex>-->
  <!--              <v-flex xs12>-->
  <!--                  <v-textarea-->
  <!--                    v-model="details"-->
  <!--                    auto-grow-->
  <!--                    counter-->
  <!--                    maxlength="10000"-->
  <!--                    box-->
  <!--                    label="Problem Details"-->
  <!--                  ></v-textarea>-->
  <!--              </v-flex>-->
  <!--              <v-flex>-->
  <!--                  <v-combobox-->
  <!--                    v-model="difficultySelected"-->
  <!--                    :items="difficulty"-->
  <!--                    auto-select-first-->
  <!--                    box-->
  <!--                    label="Select a Problem Difficulty"-->
  <!--                  ></v-combobox>-->
  <!--              </v-flex>-->
  <!--            </v-container>-->
  <!--          </v-layout>-->
  <!--        </v-card>-->
  <!--      </v-container>-->

  <!--      <v-container ma-0 pa-0 my-2>-->
  <!--        <v-subheader>Starter Code</v-subheader>-->
  <!--        <v-card>-->
  <!--          <v-layout row wrap>-->
  <!--            <v-container>-->
  <!--              <v-flex xs12> </v-flex>-->
  <!--              <v-flex xs12>-->
  <!--                <v-card>-->
  <!--                    <v-card-title>-->
  <!--                      <CodeEditor v-model="code"></CodeEditor>-->
  <!--                    </v-card-title>-->
  <!--                </v-card>-->
  <!--              </v-flex>-->
  <!--            </v-container>-->
  <!--          </v-layout>-->
  <!--        </v-card>-->
  <!--      </v-container>-->

  <!--      <v-container ma-0 pa-0 mt-2>-->
  <!--        <v-subheader>Test Case</v-subheader>-->
  <!--        <v-layout row wrap>-->
  <!--          <v-flex xs12 v-for="id in Object.keys(this.testcase)" :key="id">-->
  <!--            <v-container fluid ma-0 pa-0 my-2>-->
  <!--                <v-card>-->
  <!--                  <v-card-title>-->
  <!--                    <v-spacer></v-spacer>-->
  <!--                    <v-icon-->
  <!--                      v-if="Object.keys(testcase).length > 1"-->
  <!--                      @click="removeTest(id)"-->
  <!--                      large-->
  <!--                      >close</v-icon-->
  <!--                    >-->
  <!--                  </v-card-title>-->
  <!--                  <v-container>-->
  <!--                    <v-text-field-->
  <!--                      counter-->
  <!--                      maxlength="100"-->
  <!--                      box-->
  <!--                      v-model="testcase[id]['testname']"-->
  <!--                      label="Test Case Name"-->
  <!--                    ></v-text-field>-->
  <!--  &lt;!&ndash;                  <v-text-field&ndash;&gt;-->
  <!--  &lt;!&ndash;                    counter&ndash;&gt;-->
  <!--  &lt;!&ndash;                    maxlength="100"&ndash;&gt;-->
  <!--  &lt;!&ndash;                    box&ndash;&gt;-->
  <!--  &lt;!&ndash;                    v-model="testcase[id]['testpoint']"&ndash;&gt;-->
  <!--  &lt;!&ndash;                    label="Test Point(s)"&ndash;&gt;-->
  <!--  &lt;!&ndash;                  ></v-text-field>&ndash;&gt;-->
  <!--  &lt;!&ndash;                  <v-combobox&ndash;&gt;-->
  <!--  &lt;!&ndash;                    v-model="testcase[id]['testtype']"&ndash;&gt;-->
  <!--  &lt;!&ndash;                    :items="testCaseType"&ndash;&gt;-->
  <!--  &lt;!&ndash;                    auto-select-first&ndash;&gt;-->
  <!--  &lt;!&ndash;                    box&ndash;&gt;-->
  <!--  &lt;!&ndash;                    label="Select a Problem Difficulty"&ndash;&gt;-->
  <!--  &lt;!&ndash;                  ></v-combobox>&ndash;&gt;-->
  <!--                    <div>-->
  <!--                      <input-->
  <!--                        type="file"-->
  <!--                        :ref="`myfile-${id}`"-->
  <!--                        @change="onChangeFile(id, $event)"-->
  <!--                      />-->
  <!--                    </div>-->
  <!--                  </v-container>-->
  <!--                </v-card>-->
  <!--            </v-container>-->
  <!--          </v-flex>-->
  <!--        </v-layout>-->
  <!--      </v-container>-->

  <!--      <v-container ma-0 pa-0 mt-4>-->
  <!--        <v-layout row wrap>-->
  <!--&lt;!&ndash;          <v-flex xs12 class="mt-0">&ndash;&gt;-->
  <!--&lt;!&ndash;            <v-btn block @click="addNewTest" class="green white&#45;&#45;text">&ndash;&gt;-->
  <!--&lt;!&ndash;              Add Test&ndash;&gt;-->
  <!--&lt;!&ndash;            </v-btn>&ndash;&gt;-->
  <!--&lt;!&ndash;          </v-flex>&ndash;&gt;-->
  <!--          <v-flex xs12 class="mt-0">-->
  <!--            <v-btn block @click="create" color="primary">-->
  <!--              Save-->
  <!--            </v-btn>-->
  <!--          </v-flex>-->
  <!--        </v-layout>-->
  <!--      </v-container>-->
  <!--    </v-container>-->
  <!--  </v-form>-->

  <v-form>
    <v-container fluid grid-list-lg>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm12 md6>
          <v-subheader class="display-0">Problem Details</v-subheader>
          <v-card class="pa-5">
            <v-text-field
              outline
              v-model="name"
              label="Task Name"
            ></v-text-field>
            <v-text-field
              v-model="submissionName"
              outline
              label="Submission Name"
            ></v-text-field>
            <v-combobox
              v-model="difficultySelected"
              :items="difficulty"
              auto-select-first
              outline
              label="Select a Problem Difficulty"
            ></v-combobox>
            <v-textarea
              v-model="details"
              auto-grow
              counter
              row-height="100"
              maxlength="10000"
              outline
              label="Problem Details"
            ></v-textarea>
          </v-card>
        </v-flex>

        <v-flex xs12 sm12 md6>
          <v-subheader class="display-0">Starter Code</v-subheader>
          <v-card class="py-4 px-2">
            <CodeEditor v-model="code"></CodeEditor>
          </v-card>
        </v-flex>

        <v-flex xs12 sm12 md6>
          <v-subheader>Test Case</v-subheader>
          <v-card v-for="id in Object.keys(this.testcase)" :key="id">
            <v-card-text>
              <v-spacer></v-spacer>
              <v-icon
                v-if="Object.keys(testcase).length > 1"
                @click="removeTest(id)"
                large
                >close</v-icon
              >
            </v-card-text>
            <v-container>
              <v-text-field
                counter
                maxlength="100"

                v-model="testcase[id]['testname']"
                label="Test Case Name"
              ></v-text-field>
              <div>
                <input
                  type="file"
                  :ref="`myfile-${id}`"
                  @change="onChangeFile(id, $event)"
                />
              </div>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import CodeEditor from "../components/CodeEditor";
import { createTask } from "../api/Task";
import { addTestCase } from "../api/TestCase";
import _ from "lodash";

export default {
  name: "CreateTask",
  components: { CodeEditor },
  data: () => {
    return {
      name: "",
      code: "",
      submissionName: "",
      difficultySelected: "",
      difficulty: ["Easy", "Medium", "Hard"],
      testCaseType: ["Private", "Public"],
      details: "",
      ids: [],
      lastId: 0,
      testcase: {}
    };
  },
  mounted() {
    this.addNewTest();
  },
  methods: {
    create() {
      const { name, code, difficultySelected, details, submissionName } = this;
      console.log(this.testcase);
      createTask({
        name,
        difficulty: difficultySelected,
        details,
        code,
        submissionName
      })
        .then(({ data: { uuid } }) => uuid)
        .then(uuid => {
          const promises = Object.keys(this.testcase).map(it => {
            return addTestCase({
              taskId: uuid,
              file: this.testcase[it].testfile,
              length: this.testcase[it].testfile.size,
              name: this.testcase[it].testname,
              point: this.testcase[it].testpoint
            });
          });

          return Promise.all(promises);
        })
        .then(() => this.$router.push("/problem"))
        .catch(err => console.error(err));
    },
    addNewTest() {
      const { lastId } = this;
      const newKeys = {
        [lastId]: {
          testname: "",
          testpoint: "",
          testtype: "Private",
          testfile: null
        }
      };
      this.testcase = _.cloneDeep(_.extend(this.testcase, newKeys));
      this.lastId += 1;
    },
    removeTest(id) {
      console.log("remove Test", id);
      console.log(this.testcase);
      this.testcase = _.pickBy(this.testcase, function(value, key) {
        return !_.startsWith(key, id.toString());
      });
    },
    onChangeFile(id, event) {
      this.testcase[id].testfile = event.target.files[0];
    }
  }
};
</script>

<style scoped></style>
