<template>
  <v-container>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Account Registration</v-card-title>
        <v-container>
          <v-text-field label="Enter your email" outline v-model="registerEmail"></v-text-field>
          <v-text-field label="Enter your password" outline v-model="registerPassword" type="password"></v-text-field>
          <v-text-field label="Enter your confirm password" outline v-model="registerConfirmPassword" type="password"></v-text-field>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="closeDialog">Close</v-btn>
          <v-btn color="green darken-1" flat @click="register">Register</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="forgotDialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Forgot Password?</v-card-title>
        <v-container>
          <v-text-field label="Enter your email" outline v-model="forgotEmail"></v-text-field>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat @click="closeForgotDialog">Close</v-btn>
          <v-btn color="green darken-1" flat @click="reset">Reset Password</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-layout flex align-center justify-center row fill-height>
      <v-flex xs12 md8 elevation-6>
        <v-toolbar class="pt-5 pb-3 blue darken-3">
          <v-toolbar-title class="white--text display-1">
            Welcome Back
          </v-toolbar-title>
        </v-toolbar>
        <v-card>
          <v-card-text class="py-5">
            <div class="px-4">
              <v-form>
                <v-text-field
                  label="Enter your email"
                  v-model="email"
                  outline
                  required
                ></v-text-field>
                <v-text-field
                  label="Enter your password"
                  v-model="password"
                  type="password"
                  outline
                  required
                ></v-text-field>

                <v-layout justify-space-between>
                  <v-btn
                    block
                    @click="login"
                    color="primary"
                    class="white--text fill-width"
                  >
                    Login
                  </v-btn>
                </v-layout>
                <v-card-text
                  class="pa-0 ma-0 body-1 text--lighten-1 text-sm-center"
                >
                  <v-btn
                    @click.end="forgotDialog = true"
                    class="elevation-0 body-1 transparent"
                    block
                    text-color="white"
                  >
                    Forgot Password?
                  </v-btn>
                </v-card-text>
              </v-form>
            </div>
            <v-container>
              <v-card-text
                class="mt-5 subheading text--lighten-1 text-xs-center"
              >
                Login with Social Account
              </v-card-text>
              <v-btn
                block
                @click="facebookLogin"
                color="primary"
                class="white--text fill-width"
              >
                Facebook
              </v-btn>
            </v-container>
          </v-card-text>
        </v-card>
        <v-toolbar>
          <v-btn
            @click.end="dialog = true"
            class="elevation-0 transparent my-0"
            block
            text-color="white"
          >
            Register
          </v-btn>
        </v-toolbar>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import firebase from "firebase";

  export default {
  data() {
    return {
      email: "",
      password: "",
      dialog: false,
      registerEmail: "",
      registerPassword: "",
      registerConfirmPassword: "",
      forgotDialog: false,
      forgotEmail: ""
    };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .catch(error => console.log(error));
    },
    register() {
      if (this.registerPassword !== this.registerConfirmPassword) {
        return;
      }
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.registerEmail, this.registerPassword)
        .then(() => this.closeDialog())
    },
    closeDialog(){
      this.dialog = false
      this.registerPassword = ""
      this.registerEmail = ""
      this.registerConfirmPassword = ""
    },
    reset() {
      firebase
        .auth().sendPasswordResetEmail(this.forgotEmail).then(this.closeForgotDialog)
    },
    closeForgotDialog(){
      this.forgotDialog = false
      this.forgotEmail = ""
    },
    facebookLogin() {
      const provider = new firebase.auth.FacebookAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .catch((error) => console.log("Facebook Sign in Error", error))
    }
  }
};
</script>

<style></style>
