<template>
  <v-container>
    <v-btn @click="get">Click</v-btn>
  </v-container>
</template>

<script>

  import {mySubmission} from "../api/Submission"
export default {
  name: "MySubmission",
  methods: {
    get() {
      mySubmission()
    }
  }
};
</script>

<style scoped></style>
