<template>
  <ProblemCard></ProblemCard>
</template>

<script>
import ProblemCard from "../components/ProblemCard";
export default {
  name: "Problem",
  components: {ProblemCard}
};
</script>

<style scoped></style>
