<template>
  <!--  <v-container grid-list-sm>-->
  <!--    <v-layout row wrap>-->
  <!--      <v-flex xs6>-->
  <!--        <h1 class="display-2">{{ name }}</h1>-->
  <!--      </v-flex>-->
  <!--      <v-flex xs6>-->
  <!--        <v-layout row justify-center>-->
  <!--          <v-dialog v-model="dialog" scrollable max-width="800">-->
  <!--            <template v-if="testSubmit" v-slot:activator="{ on }">-->
  <!--              <v-btn color="primary" dark v-on="on">View Output</v-btn>-->
  <!--            </template>-->
  <!--            <v-card>-->
  <!--              <v-card-text class="headline"-->
  <!--                >Status: {{ currentStatus }}</v-card-text-->
  <!--              >-->

  <!--              <v-card>-->
  <!--                <pre-->
  <!--                  v-highlightjs="output"-->
  <!--                ><code class="javascript"></code></pre>-->
  <!--              </v-card>-->
  <!--            </v-card>-->
  <!--          </v-dialog>-->
  <!--        </v-layout>-->
  <!--      </v-flex>-->
  <!--      <v-flex xs12>-->
  <!--        <v-subheader>Problem Details</v-subheader>-->
  <!--        <v-card>-->
  <!--          <v-card-title>-->
  <!--            <div class="markdown">-->
  <!--              <p class="title">-->
  <!--                {{ details }}-->
  <!--              </p>-->
  <!--            </div>-->
  <!--          </v-card-title>-->
  <!--        </v-card>-->
  <!--      </v-flex>-->
  <!--      <v-flex xs12>-->
  <!--          <v-subheader>Code</v-subheader>-->
  <!--          <CodeEditor v-model="code"></CodeEditor>-->
  <!--      </v-flex>-->
  <!--    </v-layout>-->
  <!--    <v-layout row wrap>-->
  <!--      <v-flex xs12>-->
  <!--        <v-btn right @click="submitCode">Submit</v-btn>-->
  <!--      </v-flex>-->
  <!--    </v-layout>-->
  <!--    <v-layout row wrap>-->
  <!--      <v-flex xs12> </v-flex>-->
  <!--    </v-layout>-->
  <!--  </v-container>-->

  <v-container fluid grid-list-lg>
    <v-layout row wrap justify-center>
      <v-dialog v-model="dialog" scrollable max-width="700">
        <template v-if="testSubmit" v-slot:activator="{ on }">
          <v-btn color="primary" dark v-on="on">View Output</v-btn>
        </template>
        <v-card>
          <v-card-text class="headline">
            Status: {{ currentStatus }}</v-card-text
          >
          <v-card>
            <pre v-highlightjs="output"><code class="javascript"></code></pre>
          </v-card>
        </v-card>
      </v-dialog>
      <v-flex xs12 sm8 md7>
        <v-subheader class="subheading">Problem Details</v-subheader>
        <v-card>
          <v-card-title>
            <div class="markdown">
              {{ details }}
            </div>
          </v-card-title>
        </v-card>
      </v-flex>

      <v-flex xs12 sm8 md7>
        <v-subheader>Submission</v-subheader>
        <v-card class="py-4 px-2 pb-2">
          <CodeEditor v-model="code"></CodeEditor>

          <v-divider light></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" dark v-on="on" v-if="testSubmit" @click="dialog = true">View Output</v-btn>
            <v-btn class="mr-4 primary white--text" @click="submitCode">Submit</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CodeEditor from "../components/CodeEditor";
import { getTask, submitTask } from "../api/Task";
import io from "socket.io-client";
import _ from "lodash"

export default {
  name: "SolveProblem",
  components: { CodeEditor },
  props: ["uid"],
  data() {
    return {
      code: "",
      language: "python3",
      name: "",
      details: "",
      point: 0,
      difficulty: "",
      socket: null,
      dialog: false,
      output: "",
      currentStatus: "WAITING...",
      statusCode: "",
      testSubmit: false
    };
  },
  methods: {
    submitCode() {
      const { code, language, uid } = this;
      submitTask({ code, language, uid }).then(({ data }) => {
        const submissionUid = data.uuid;
        this.output = "";
        this.testSubmit = true;
        this.dialog = true;
        this.socket.emit("join", submissionUid);
        this.socket.on("result", data => {
          if (data.message !== null || data.message !== undefined) {
            this.output = this.output + data.message;
          }
        });

        this.socket.on("status", data => {
          if (_.matches(data.message, "DIED")) {
            this.currentStatus = "COMPLETED";
          } else if (_.matches(data.message, "KILL")) {
            this.currentStatus = "FAILED";
          }
          this.statusCode = data.order;
        });
      });
    }
  },
  mounted() {
    this.socket = io(process.env.NODE_ENV === "production" ? "" : "http://localhost:8181");
    const { uid } = this;
    getTask({ uid }).then(({ data }) => {
      const { name, starterCode, point, difficulty, details } = data;
      this.name = name;
      this.code = starterCode;
      this.details = details;
      this.point = point;
      this.difficulty = difficulty;
    });
  },
  beforeDestroy() {
    this.socket.disconnect();
  }
};
</script>

<style scoped>
code {
  width: auto;
  height: auto;
}
</style>
