<template>
  <ProblemOutput></ProblemOutput>
</template>

<script>
// import VueMarkdown from "vue-markdown"
import ProblemOutput from "../components/ProblemOutput";
export default {
  name: "Test",
  components: {
    ProblemOutput
  }
};
</script>

<style scoped></style>
