<template>
  <monaco-editor
    class="editor"
    theme="vs"
    :value="value"
    @change="$emit('input', $event)"
    language="python"
    :options="options"
  />
</template>

<script>
import MonacoEditor from "vue-monaco";

export default {
  components: {
    MonacoEditor
  },
  props: ["value"],
  data() {
    return {
      options: {
        minimap: {
          enabled: false
        },
        autoIndent: true,
        automaticLayout: true
      }
    };
  }
};
</script>

<style>
.editor {
  width: 100%;
  height: 500px;
}
* {
  margin: 0;
  padding: 0;
}
</style>
