<template>
  <v-footer class="pa-3" app>
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {
  data: () => ({})
};
</script>

<style scoped></style>
