<template>
  <v-container fluid grid-list-xl>
    <v-layout align-center column fill-height justify-center>
      <v-progress-circular
        :query="true"
        :width="6"
        color="primary"
        id="circular-progress"
        indeterminate
        size="100"
      ></v-progress-circular>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Loading",
};
</script>

<style scoped></style>
