<template>
  <v-container grid-list-lg>
    <!--    <v-list two-line class="pa-4">-->
    <!--      <template v-for="(item, idx) in items" class="my-2">-->
    <!--        <v-list-tile-->
    <!--          :key="item.uuid"-->
    <!--          @click="$router.push(`/problem/${item.uuid}`)"-->
    <!--          v-if="item.name"-->

    <!--        >-->
    <!--          <v-list-tile-content>-->
    <!--            <v-list-tile-title v-html="item.name"></v-list-tile-title>-->
    <!--            <v-list-tile-sub-title>-->
    <!--              Difficulties: {{ item.difficulty }}, Score: {{ item.point }}-->
    <!--            </v-list-tile-sub-title>-->
    <!--          </v-list-tile-content>-->
    <!--        </v-list-tile>-->
    <!--        <v-divider v-if="idx + 1 < items.length" :key="idx"></v-divider>-->
    <!--      </template>-->
    <!--    </v-list>-->

    <v-layout row wrap justify-center>
      <v-flex xs12 sm8 md6>
        <v-card
          v-for="item in items"
          :key="item.uuid"
          class="pa-2 my-4"
          @click.native="$router.push(`/problem/${item.uuid}`)"
        >
          <v-card-title class="py-2">{{ item.name }}</v-card-title>
          <v-divider light></v-divider>

          <v-card-actions class="pa-3">
            Difficulties: {{ item.difficulty }}
            <v-spacer></v-spacer>
            <v-btn
              large
              class="white--text primary"
              @click="$router.push(`/problem/${item.uuid}`)"
            >
              Try
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { listTask } from "../api/Task";

export default {
  name: "ProblemCard",
  data() {
    return {
      loading: null,
      items: []
    };
  },
  mounted() {
    listTask()
      .then(({ data: { tasks } }) => {
        this.items = tasks;
      })
      .catch(err => console.error(err));
  }
};
</script>
