<template>
  <v-container>
    <pre v-highlightjs><code class="code">
function(test) {
    console.log(test)
}</code></pre>
  </v-container>
</template>

<script>
export default {
  name: "ProblemOutput",
  components: {}
};
</script>

<style scoped>
.code {
  width: auto;
  height: auto;
}
</style>
