<template>
  <v-app id="app">
    <Loading v-if="isLogin === null" />
    <Login v-if="isLogin === false" />
    <AppFrame v-if="isLogin === true">
      <router-view />
    </AppFrame>
  </v-app>
</template>

<script>
import AppFrame from "./components/appframe";
import Login from "./views/Login";
import Loading from "./components/Loading";
import { mapGetters } from "vuex";

export default {
  name: "App",
  components: { Loading, Login, AppFrame },
  data() {
    return {
      // isLogin: false
    };
  },
  computed: {
    ...mapGetters({
      isLogin: "auth/login"
    })
  }
};
</script>

<style></style>
